<h1>You've Arrived at Numbers and Words</h1>

<form action="/num1">
  <div class="form-group">
    <label for="numbers">What number would you like to see in words?</label>
      <input id="numbers" name="numbers" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-sucess">Send</button>
</form>
